- var lang = "ja";
- var title = "MY PORTFOLIO";
- var keywords = ""
- var ogDesc = "";
- var ogLocale = "ja_JP";
- var ogUrl = "/";
- var ogImage = "/img/profile.png";
- var ogType = "website";