header
  .container
    #logo 
      h1 MY PORTFOLIO
    #nav 
      a(href="#profile") Profile
      a(href="#hobby") Hobby
      a(href="#strong") Strong Points
      a(href="#weak") Weak Points
      a(href="#news") News
    input#menu-status(type="checkbox")
    label#menu-btn.sp(for="menu-status")
      span
      span
      span
    #menu-panel.sp
      a(href="#profile") Profile
      a(href="#hobby") Hobby
      a(href="#strong") Strong Points
      a(href="#weak") Weak Points
      a(href="#news") News
